<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>who:ip</title>
</head>

<body>
<div class="main-container">

  {% if message.is_some() -%}
  <div class="bg-{{ message.unwrap().color }}-600 default-toast slide-in-top">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between flex-wrap">
        <div class="w-0 flex-1 flex items-center">
        <span class="flex rounded-lg bg-{{ message.unwrap().color }}-800 p-3">
          <i class="fas fa-bullhorn h-full w-full text-white"></i>
        </span>
          <p class="ml-3 font-medium text-white truncate">
            <span class="inline font-bold">
            {{ message.unwrap().text }}
          </span>
          </p>
        </div>
        <div class="hidden order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
          <a href="/"
             class="hidden flex items-center justify-center px-4 py-2 border border-transparent
             rounded-md shadow-sm text-sm font-medium
             text-{{ message.unwrap().color }}-600
             bg-white hover:bg-{{ message.unwrap().color }}-50">
            Learn more
          </a>
        </div>
        <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
          <button type="button"
                  class="-mr-1 flex p-2 rounded-md
                  hover:bg-{{ message.unwrap().color }}-500
                  focus:outline-none focus:ring-2
                  focus:ring-white sm:-mr-2">
            <span class="sr-only">Dismiss</span>
            <i class="fas fa-times h-full w-full text-white"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  {%- endif %}

  <div class="flex flex-col h-screen">
    <!--Nav-->
    <div class="flex flex-none w-full container mx-auto p-6">
      <div class="w-full flex items-center justify-between">
        <a class="flex items-center text-primary-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
           href="/">
          <img class="-mr-2 h-24 w-24"
               title="who:ip"
               src="/static/whoip-128x128.png"
               width="96"
               height="96"
               loading="lazy"
               alt="who:ip Logo"/>
          who:ip
        </a>
        <div id="headerContainer" class="flex w-1/2 justify-end content-center">
          <a href="/" class="icon-only-button" title="{{ language }}">
            <span class="icon-only-button-label hidden">{{ language }}</span>
            <i class="fas fa-flag fill-current h-full w-full"></i>
          </a>
          <a href="/about" class="icon-only-button" title="About">
            <span class="icon-only-button-label hidden">About</span>
            <i class="fas fa-question fill-current h-full w-full"></i>
          </a>
        </div>
      </div>
    </div>

    <!--Main-->
    <div class="container pt-6 px-6 mx-auto flex flex-grow flex-col items-center">
      {% block content %}{% endblock %}
    </div>
    <!--Footer-->
    <div class="flex flex-none w-full pb-2 pl-2 text-sm text-center">
      <a class="text-gray-500 no-underline hover:no-underline" href="/about">&copy; who:ip 2022</a>
    </div>
  </div>

  <div class="fixed bottom-2 right-2 flex flex-row items-center">
    <span class="text-xs">powered by</span>
    <a href="https://actix.rs" target="_blank">
      <img class="ml-1 h-8 w-8"
           title="Actix"
           alt="Actix Logo"
           src="/static/actix-32x32.png"
           width="16"
           height="16"
           loading="lazy"/>
    </a>
    <span class="text-xs">+</span>
    <a href="https://tailwindcss.com/" target="_blank">
      <img class="ml-1 h-8 w-8"
           title="tailwindcss"
           alt="tailwindcss Logo"
           src="/static/tailwindcss-32x32.png"
           width="16"
           height="16"
           loading="lazy"/>
    </a>
  </div>
</div>
</body>
</html>
