<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>who:ip</title>
</head>

<body>
<div class="main-container">

  <div class="flex flex-col h-screen">
    {% include "message.html" %}

    <!--Nav-->
    <div class="flex flex-none w-full container mx-auto p-6">
      <div class="w-full flex items-center justify-between">
        <a class="flex items-center text-primary-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
           href="/">
          <!-- Lazy-load an image that has srcset specified -->
          <img class="-mr-2 h-24 w-24"
               title="who:ip"
               src="/images/whoip-128x128.png"
               width="96"
               height="96"
               loading="lazy"
               alt="who:ip Logo">
          who:ip
        </a>
        <div id="headerContainer" class="flex w-1/2 justify-end content-center">
          <a href="/" class="icon-only-button">
            <span class="icon-only-button-label hidden">{{ language }}</span>
            <i class="fas fa-flag fill-current h-6"></i>
          </a>
          <a href="/about" class="icon-only-button">
            <span class="icon-only-button-label hidden">About</span>
            <i class="fas fa-question fill-current h-6"></i>
          </a>
        </div>
      </div>
    </div>

    <!--Main-->
    <div class="container pt-6 px-6 mx-auto flex flex-grow flex-col items-center">
      {% block content %}{% endblock %}
    </div>
    <!--Footer-->
    <div class="flex flex-none w-full pb-2 pl-2 text-sm text-center">
      <a class="text-gray-500 no-underline hover:no-underline" href="/about">&copy; who:ip 2022</a>
    </div>
  </div>

  <div class="fixed bottom-2 right-2 flex flex-row items-center">
    <span class="text-xs">powered by</span>
    <a href="https://actix.rs" target="_blank">
      <img class="ml-1 h-8 w-8"
           title="Actix"
           alt="Actix Logo"
           src="/images/actix-32x32.png"
           width="16"
           height="16"
           loading="lazy"/>
    </a>
    <span class="text-xs">+</span>
    <a href="https://tailwindcss.com/" target="_blank">
      <img class="ml-1 h-8 w-8"
           title="tailwindcss"
           alt="tailwindcss Logo"
           src="/images/tailwindcss-32x32.png"
           width="16"
           height="16"
           loading="lazy"/>
    </a>
  </div>
</div>
</body>
</html>
